<ion-app>
    <ion-menu side="start" menuId="first-menu" contentId="main-menu">
        <ion-header>
          <ion-toolbar>
            <ion-title>Places</ion-title>
          </ion-toolbar>
        </ion-header>

        <ion-content>
          <ion-list>
            <ion-menu-toggle menu="first-menu">
                <ion-item routerLink="/places/tabs/discover" lines="none">
                  <ion-icon slot="start" name="business"></ion-icon>
                  <ion-label>Discover Places</ion-label>
                </ion-item>
            </ion-menu-toggle>
           
            <ion-menu-toggle menu="first-menu"> 
                <ion-item routerLink="/bookings" lines="none">
                  <ion-icon slot="start" name="checkbox-outline"></ion-icon>
                  <ion-label>Your Bookings</ion-label>
                </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle menu="first-menu">
                <ion-item (click)="onLogOut()" button lines="none">
                    <ion-icon slot="start" name="exit"></ion-icon>
                    <ion-label>Logout</ion-label>
                  </ion-item>    
            </ion-menu-toggle>  
           
          </ion-list>
        </ion-content>
      </ion-menu>
  <ion-router-outlet id="main-menu"></ion-router-outlet>
</ion-app>
